
@section scripts{

<script src="~/App/App.js"></script>
<script src="~/App/angCustomerService.js"></script>
<script src="~/App/angCustomerController.js"></script>


}


@{
    ViewBag.Title = "Index";
}

<div ng-app="CRMApp">

    <div ng-controller="angCustomerController">

        <div class="form-group">
            <label>Nombre</label>
            <input type="text" id="txtNombre" ng-model="customer.Nombre" class="form-control" />
        </div>

        <div class="form-group">
            <label>Direccion</label>
            <input type="text" id="textDireccion" ng-model="customer.Direccion" class="form-control" />
        </div>

        <div class="form-group">
            <label>Telefono</label>
            <input type="text" id="txtTelefono" ng-model="customer.Telefono" class="form-control" />
        </div>
      

        <div class="form-group">
            <label>Correo</label>
            <input type="text" id="txtCorreo" ng-model="customer.Correo" class="form-control" />
        </div>

    </div>

</div>

